.gallery {            
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    padding: 10px;                    
}

.gallery > .gallery-item { 
    flex: 1 1 300px;   
    max-width: 500px;
    margin: 10px;
    padding: 10px;     
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 8px;    
} 

.gallery .gallery-item img {
    display: block;
    max-width: 100%;
}

.gallery .gallery-item .item-options {
    height: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ui-autocomplete{
   z-index: 1050 !important;
}
